<section class="cta">
    <div class="container">
      <h2 class="title-lg">Industry Experience :</h2>  
    </div>
  </section> 


      <!--   
        - #Industry Experience 
      --> 
      <section  class="section hero" aria-label="home">
      <!-- <section class="section about" aria-label="about me"> -->
        <div class="container">

          <figure class="about-banner">
            <img src="assets/images/about-banner.png" width="580" height="554" loading="lazy"
              alt="Jassa, the blonde, dressed in a black tops with a smile on her face" class="w-100">
          </figure>
          <div class="about-content">

            <h3 class="hero-subtitle-lowercase">Foraysoft Pvt. Ltd. (Client Wayfair)<br> Sr Software Developer<br> 
              March 2023- Present </h3>

              <div class="body-md section-text1">
                <ul  class="highlighted-list">  
                  <li id='experience'>Played a key role in the development of a prominent E-commerce
                    &nbsp;&nbsp;&nbsp; platform, contributing to its success as one of the largest websites
                    &nbsp;&nbsp;&nbsp; in the industry.</li>
                  <li>Designed and developed campaign management logic using Java 
                    &nbsp;&nbsp;&nbsp; and Spring Boot, microservices architecture, Azure Data Studio.</li>
                  <li>Hands-on experience with Karate framework, written unit test cases 
                    &nbsp;&nbsp;&nbsp; using Mockito framework.</li>
                  <li>Significant experience in GraphQL, Postman, and Docker.</li>
                  <li>Employed cutting-edge technologies, including Elastic Search and
                    &nbsp;&nbsp;&nbsp; Azure Data Studio, low-level design to ensure a seamless
                    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;transition.</li>
                  <li>Demonstrated adeptness in using tools such as Jira, IntelliJ, and
                    &nbsp;&nbsp;&nbsp;&nbsp;Git, Jenkins and CI/CD to streamline development and
                    &nbsp;&nbsp;&nbsp;&nbsp;deployment processes and facilitate efficient teamwork.</li>
                  <li>Contributed in high-level design discussions.</li>
                </ul>
              </div>            

            <ul class="about-list">
            </ul>
          </div>
        </div>
      </section>
      
      <section  class="section hero">
        <div class="container">

          <figure class="about-banner">
            <img src="assets/images/datametica.png" width="580" height="554" loading="lazy"
              alt="Jassa, the blonde, dressed in a black tops with a smile on her face" class="w-100">
          </figure>
          <div class="about-content">

            <h3 class="hero-subtitle-lowercase">Datametica Pvt. Ltd. <br> Member of Technical Staff <br> 
              January 2022- February 2023 </h3>

              <div class="body-md section-text1">
                <ul class="highlighted-list">  
                  <li>Part of product team responsible for software development  &nbsp;&nbsp;&nbsp;
                    of Raven that translate SQL queries.</li>
                  <li>Contributed in code review, design discussion, clean code, 
                    best practices and mentoring.</li>
                  <li>Design and developed framework which will translate input 
                    query into cloud suitable query format.</li>
                  <li>Introduced new features based on customer requirement.</li>
                  <li>Skills: Java, Object oriented programing, design pattern, SQL, Jira, 
                    Git, IntelliJ</li>
                </ul>
              </div>            

            <ul class="about-list">
            </ul> 
          </div> 
        </div>
      </section>

      <section class="section hero" aria-label="home">
        <div class="container">

          <figure class="about-banner">
            <img src="assets/images/amdocs.png" width="580" height="554" loading="lazy"
              alt="Jassa, the blonde, dressed in a black tops with a smile on her face" class="w-100">
          </figure>
          <div class="about-content">

            <h3  class="hero-subtitle-lowercase">Amdocs Development Center India Pvt. Ltd. <br> Java Developer <br> 
              September 2018 – January 2022</h3>

              <div class="body-md section-text1">
                <ul class="highlighted-list">  
                  <li> Developed API's to create and define decision rules for 
                    processing the customer's data coming from front end 
                    (CRM).</li>
                  <li>Worked with world largest telecom clients T-System, Sprint, US 
                    Cellular.</li>
                  <li>Handled CR to fulfill customers requirement as well as 
                    Implemented new changes without affecting core product. </li>
                  <li>Contributed in SonarQube defects and handled Checkmarks 
                    to sanitize code.</li>
                  <li>Owned the entered CR from developing new functionality, 
                    unit testing, integration testing till deployment and support.</li>
                  <li>Handled support activities, provided root cause analysis 
                    along with bug fixing.</li>
                  <li>Automated testing process via SOAP UI using ready API.</li>
                  <li>Contributed in a project called TAPAS which was developed with the help of React js and 
                    spring boot with micro service architecture.</li>
                  <li>Initially worked as (SRE)Site reliability engineer, contributed in Amdocs OMS: order 
                    management system, Retail management systems.</li>
                </ul>
              </div>            

            <ul class="about-list">
            </ul>
          </div>
        </div>

      </section>