<main>
    <article>

      <!-- 
        - #Extracurricular Activities
      -->

      <section id="Extracurricular" class="section portfolio" aria-labelledby="portfolio-label">
        <div  class="container">

          <h2  class="section-title headline-md text-center" id="portfolio-label">Extracurricular Activities</h2>

          <ul class="portfolio-list">

            <li>
              <div  class="portfolio-card">

                <div  class="card-banner img-holder" style="--width: 800; --height: 540;">
                  <img src="./assets/images/portfolio-1.jpg" width="800" height="540" loading="lazy"
                    alt="Website Design for Marketing Agency Startup" class="img-cover">

                  <a href="#" class="btn-icon" aria-label="More about Website Design for Marketing Agency Startup">
                    <ion-icon name="arrow-forward-sharp" aria-hidden="true"></ion-icon>
                  </a>
                </div>
  
                <div class="card-content">  
 
                  <span class="chip label-md">Mentoring Program</span>

                  <h3 class="title-md">Guest Lecture at CDAC, ACTS, Pune.</h3>

                  <p class="card-text">
                    CDAC ASTS has extended an invitation for me to speak to the February 2023 batch of students.
                     My talk will focus on illuminating the current market demands for freshers and empowering them 
                     with essential knowledge and skills in Docker and containerization.
                  </p>
<!-- 
                  <a href="#" class="btn btn-primary">View Project</a> --> 

                </div>

              </div>
            </li>

            <li>
              <div class="portfolio-card">

                <div class="card-banner img-holder" style="--width: 800; --height: 540;">
                  <img src="./assets/images/portfolio-2.jpg" width="800" height="540" loading="lazy"
                    alt="Website Design for Marketing Agency Startup" class="img-cover">

                  <a href="#" class="btn-icon" aria-label="More about Website Design for Marketing Agency Startup">
                    <ion-icon name="arrow-forward-sharp" aria-hidden="true"></ion-icon>
                  </a>
                </div>

                <div class="card-content">

                  <span class="chip label-md">Robocon</span>

                  <h3 class="title-md">Design a robotic car that responds to our commands.</h3>

                  <p class="card-text">
                    As part of Robocon, we created a robot car and an Android app that lets us control it, 
                    ensuring it moves at a maximum speed of 10 km/hr.
                  </p>

                </div>
  
              </div>
            </li>

            <li>
              <div class="portfolio-card">

                <div class="card-banner img-holder" style="--width: 800; --height: 540;">
                  <img src="./assets/images/portfolio-3.jpg" width="800" height="540" loading="lazy"
                    alt="Website Design for Marketing Agency Startup" class="img-cover">

                  <a href="#" class="btn-icon" aria-label="More about Website Design for Marketing Agency Startup">
                    <ion-icon name="arrow-forward-sharp" aria-hidden="true"></ion-icon>
                  </a>
                </div> 

                <div class="card-content">

                  <span class="chip label-md">trekking</span>

                  <h3 class="title-md">Kamalgad Mountain Trekking Adventure</h3>

                  <p class="card-text">
                    Kamalgad Trekking was a thrilling journey through nature's beauty, 
                    where every step is a discovery and every summit a triumph of the human spirit.
                    Experience the enchantment of dense forests, breathe in the freshness of untouched nature
                    during your trekking adventure.
                  </p>

                </div>

              </div>
            </li>

            <li>
              <div class="portfolio-card">

                <div class="card-banner img-holder" style="--width: 800; --height: 740;">
                  <img src="./assets/images/portfolio-4.jpg" width="800" height="540" loading="lazy"
                    alt="Website Design for Marketing Agency Startup" class="img-cover">

                  <a href="#" class="btn-icon" aria-label="More about Website Design for Marketing Agency Startup">
                    <ion-icon name="arrow-forward-sharp" aria-hidden="true"></ion-icon>
                  </a>
                </div>

                <div class="card-content">

                  <span class="chip label-md">signature day</span>

                  <h3 class="title-md">Signature day celebration at Dr D Y Patil College of Engineering</h3>

                  <p class="card-text">
                    Signature Day celebration is a special occasion where we come together to honor and celebrate the 
                    unique qualities and achievements of individuals. It's a day to appreciate their distinct 
                    contributions and mark their significance in our lives. With heartfelt speeches, memorable
                     moments, and shared joy, Signature Day is a meaningful event that brings people closer and
                      fosters a sense of belonging. It's a time to recognize the extraordinary in the ordinary 
                      and strengthen the bonds that make our community special.
                  </p>

                </div>

              </div>
            </li>

          </ul>

        </div>
      </section>

    </article>
  </main>