

      <!-- 
        - #SKILL
      -->

      <section  id='skills' class="section skill" aria-labelledby="skill-label">
        <div  class="container">

          <div class="skill-content">

            <h2 class="section-title headline-md" id="skill-label">My Skills</h2>

            <ul class="skill-list">

              <li>
                <div class="card card-sm" style="background-color: hsl(177, 39%, 72%)">

                  <div class="card-media">
                    <ion-icon name="cafe-outline"></ion-icon>
                  </div>
                  

                  <h2 class="card-title">Java 11</h2>

                </div>
              </li>

              <li>
                <div class="card card-sm" style="background-color: hsl(41, 99%, 64%)">

                  <div class="card-media">
                    <ion-icon name="leaf-outline"></ion-icon>
                  </div>

                  <h2 class="card-title">Spring Boot</h2>

                </div>
              </li>

              <li>
                <div class="card card-sm" style="background-color: hsl(19, 97%, 85%)">

                  <div class="card-media">
                    <ion-icon name="construct-outline"></ion-icon>
                  </div>

                  <h2 class="card-title">Microservices</h2>

                </div>
              </li>

              <li>
                <div class="card card-sm" style="background-color: hsl(221, 100%, 79%)">

                  <div class="card-media">
                    <ion-icon name="logo-angular"></ion-icon>
                  </div>

                  <h2 class="card-title">Angular</h2>

                </div>
              </li>

              <li>
                <div class="card card-sm" style="background-color: hsl(76, 39%, 72%)">

                  <div class="card-media">
                    <ion-icon name="logo-docker"></ion-icon>
                  </div>

                  <h2 class="card-title">Docker</h2>

                </div>
              </li>

              <li>
                <div class="card card-sm" style="background-color: hsl(245, 100%, 90%)">

                  <div class="card-media">
                    <ion-icon name="logo-soundcloud"></ion-icon>
                  </div>

                  <h2 class="card-title">AWS Cloud</h2>

                </div>
              </li>

              <li>
                <div class="card card-sm" style="background-color: hsl(258, 73%, 72%)">

                  <div class="card-media">
                    <ion-icon name="bug-outline"></ion-icon>
                  </div>
 
                  <h2 class="card-title">Testing</h2>

                </div> 
              </li> 

              <li>
                <div class="card card-sm" style="background-color: hsl(342, 65%, 72%)">

                  <div class="card-media">
                    <ion-icon name="document-attach-outline"></ion-icon>
                  </div>

                  <h2 class="card-title">SQl/Nosql DB</h2>

                </div>
              </li>

            </ul>

          </div>

          <figure class="skill-banner">
            <img src="assets/images/skill-banner.png" width="581" height="657" loading="lazy"
              alt="Jassa, the blonde, dressed in a green hoodie with a smile on her face" class="w-100">
          </figure>

        </div>
      </section>  

      