



      <!-- 
        - #TESTIMONIALS
      -->

      <section id="TESTIMONIAL" class="section testi" aria-labelledby="testi-label">
        <div class="container">

          <h2 class="headline-md section-title text-center" id="testi-label">Testimonial</h2>

          <ul class="slider">

            <li class="slider-item card-container">
              <div class="card card-lg">

                <figure class="card-media">
                  <img src="assets/images/testi-1.jpg" width="100" height="100" loading="lazy" alt="Jennifer Lutheran"
                    class="img-cover">
                </figure>

                <div class="card-content">

                  <blockquote class="body-sm">
                    I had the opportunity to collaborate closely with Akshay during our time at Amdocs.
                     He is not only a proficient team player but also possesses an extensive wealth of 
                     technological knowledge. 
                  </blockquote>

                  <p class="client-name">Kiran Kolhe</p>

                  <p class="client-title">Sr Developer,Amdocs</p>

                </div>

              </div>
            </li>

            <li class="slider-item card-container">
              <div class="card card-lg">

                <figure class="card-media">
                  <img src="assets/images/testi-2.jpg" width="100" height="100" loading="lazy" alt="Jennifer Lutheran"
                    class="img-cover">
                </figure>

                <div class="card-content">

                  <blockquote class="body-sm">
                    Akshay is always willing to offer assistance whenever it's needed. I've had the 
                    privilege of working alongside him for over a year, and his presence in 
                    a group consistently radiates positive energy.
                  </blockquote>

                  <p class="client-name">Gunjan Patil</p>

                  <p class="client-title">Tester at Detametica</p>

                </div>

              </div>
            </li>

            <li class="slider-item card-container">
              <div class="card card-lg">

                <figure class="card-media">
                  <img src="assets/images/testi-3.jpg" width="100" height="100" loading="lazy" alt="Jennifer Lutheran"
                    class="img-cover">
                </figure>

                <div class="card-content">

                  <blockquote class="body-sm">
                    Akshay and I were not only good friends but also colleagues during our time at CDAC.
                     We worked closely together, and I was consistently impressed by his ability to 
                     provide solutions for every problem statement that came our way.
                  </blockquote>

                  <p class="client-name">Priyadarshani</p>

                  <p class="client-title">Scrum master , TCS</p>

                </div>

              </div>
            </li>

            <li class="slider-item card-container">
              <div class="card card-lg">

                <figure class="card-media">
                  <img src="assets/images/testi-4.jpg" width="100" height="100" loading="lazy" alt="Jennifer Lutheran"
                    class="img-cover">
                </figure>

                <div class="card-content">

                  <blockquote class="body-sm">
                    We collaborated on the API side while working in Israel.
                     During a critical production issue, Akshay played a crucial role in the war room,
                     assisting me in devising a workaround for the ongoing problem.
                  </blockquote>

                  <p class="client-name">Kriti Pol</p>

                  <p class="client-title">Consultent at CSG</p>

                </div>

              </div>
            </li>

          </ul>

        </div>
      </section>
